@media (max-width: 1240px)
	.rocket
		width: 300px

	.overview-table__column
		padding-bottom: 12px
		font-weight: 400
		font-size: 16px
		line-height: 28px
	.overview-table__column-1
		width: 240px
	.overview-table__column-2
		width: 200px
	.overview-title
		font-size: 22px
		line-height: 32px
	.rocket-description__text
		max-width: 400px
		min-height: 145px
		font-weight: 400
		font-size: 14px
		line-height: 26px

@media (max-width: 840px)
	.rocket
		width: 200px

	.overview-table__column
		padding-bottom: 12px
		font-weight: 400
		font-size: 14px
		line-height: 26px
	.overview-table__column-1
		width: 200px
	.overview-table__column-2
		width: 160px
	.overview-title
		font-size: 20px
		line-height: 30px
	.rocket-description__text
		max-width: 360px
		min-height: 145px
		font-weight: 400
		font-size: 12px
		line-height: 24px

@media (max-width: 720px)
	.header
		flex-direction: column
		justify-content: center
		text-align: center
	.header-logo
		margin-bottom: 15px
	.header-nav__primary__list
		justify-content: center
		margin-bottom: 15px
	.header-nav__secondary__list
		justify-content: center

@media (max-width: 620px)
	.rocket
		/*display: none*/
		opacity: 0.3
		right: 35%
	.overview-table__column
		padding-bottom: 0px
		font-weight: 400
		font-size: 12px
		line-height: 24px
	.overview-table__column-1
		width: 200px
	.overview-table__column-2
		width: 180px
	.overview-title
		font-size: 18px
		line-height: 28	px
	.social-contacts
		display: flex
		font-weight: 400
		font-size: 16px
		line-height: 18px
		margin-bottom: 30px

	.social-contacts__item
		padding: 5px 5px


	.contact-email
		font-weight: 400
		font-size: 16px
		line-height: 18px
		color: #808080
		margin-bottom: 30px
			

	.contact-button
		min-width: 200px
		min-height: 40px
		border: 2px solid #FFFFFF
		border-radius: 6px
		font-weight: 400
		font-size: 14px
		line-height: 16px
